.card-catogory {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.card-catogory-image img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card-catogory-content {
    padding: 20px;
}

.card-catogory-content-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}