.card-catogory {
    display: flex;
    height: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.card-catogory-image img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.card-catogory-content {
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.card-catogory-content-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}